.card {
  border-radius: 20px;
  box-shadow: 0 6px 5px 3px rgba(128, 98, 96, 0.16);
}
.card:hover {
  border: grey solid 1px;
  box-shadow: 0px 4px 10px 0px rgb(199, 199, 199);
}
.imgFotoPerfilUsuariosInicio {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  box-shadow: 0 6px 5px 3px rgba(128, 98, 96, 0.16);
}
.btnFlechaInicioUsuarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.btnInicioUsuarios {
  grid-column: 1/2;
  grid-row: 1/2;
}
.InicioUsuariosFlecha {
  width: 60px;
  height: 60px;
}
.divimgInicioUsuarios {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
.imgInicioUsuariosBarppi {
  width: 100px;
  height: 100px;
}
.divBuscarInicioUsuarios {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column: 3/4;
  grid-row: 1/2;
}
.imgBuscarInicioUsuariosLogo {
  padding: 10px;
}
.imgBuscarInicioUsuariosBarppi {
  width: 70px;
  height: 70px;
}
.imgFotoPerfilUsuariosInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.imgFotoPerfilUsuariosInicio:hover {
  border: rgb(228, 228, 228) solid 2px;
  box-shadow: 5px 2px 5px 3px rgb(228, 228, 228);
}
.imgdivcenterFotoPerfil_UsuariosInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.divCardUsuariosInicio {
  padding-left: 3%;
  padding-bottom: 0.7%;
  padding-right: 3%;
  padding-top: 0.7%;
}
.CardGridUsuariosInicio {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}
.divimgFotoPerfilUsuariosInicio {
  grid-column: 1/2;
  grid-row: 1/2;
}
.divdatosCuerpoUsuariosInicio {
  grid-column: 2/7;
  grid-row: 1/2;
}
.div_Grid_TopCard_UsuariosInicio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.Numero_UsuarioInicio {
  font-family: "Comfortaa", cursive;
  color: black;
  width: 100%;
  margin: 5px;
}
.ButonUsuariosInicio {
  border: black solid 1px;
  width: 70%;
  height: 40px;
  transition: all 100ms;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 15px;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 6px 5px 3px rgba(128, 98, 96, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ButonUsuariosInicio:hover {
  background-color: rgb(231, 230, 230);
  color: black;
  transition: all 100ms;
  text-decoration: none;
  border: black solid 3px;
}
.card_body {
  width: 100%;
  padding: 5px;
}
.Nombre_Trabajador_UsuariosInicio {
  margin: 0%;
  color: black;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  width: 100%;
}
.div-Nombre_Trabajador_UsuariosInicio {
  grid-column: 1/4;
  grid-row: 1/2;
}
.textarea_Descripcion_UsuariosInicio {
  border: grey solid 1px;
  box-shadow: 0 6px 5px 3px rgba(128, 98, 96, 0.16);
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  transition: all 100ms;
  text-decoration: none;
  border-radius: 10px;
  height: 100%;
  width: 99%;
  padding: 5px;
  resize: none;
}
.textarea_Descripcion_UsuariosInicio:hover {
  border: rgb(175, 175, 175) solid 3px;
}

.divButtonSolicitarUsuariosInicio {
  grid-row: 1/2;
  grid-column: 4/5;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}
.div_Informarcionadicional_UsuariosInicio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

/* Responsive */

@media only screen and (max-width: 745px) {
  .Nombre_Trabajador_UsuariosInicio {
    font-size: 23px;
    font-weight: bold;
    margin: 0%;
    color: black;
    text-decoration: none;
    font-family: "Comfortaa", cursive;
    width: 100%;
  }
  .ButonUsuariosInicio {
    width: 90%;
    height: 40px;
  }
  .textarea_Descripcion_UsuariosInicio {
    height: 60px;
    width: 99%;
    padding: 5px;
  }
  @media only screen and (max-width: 690px) {
    .Nombre_Trabajador_UsuariosInicio {
      font-size: 21px;
      font-weight: bold;
      margin: 0%;
      width: 100%;
    }
    .ButonUsuariosInicio {
      width: 100%;
      height: 40px;
    }
    .textarea_Descripcion_UsuariosInicio {
      height: 60px;
      width: 99%;
      padding: 5px;
    }
    .div_Informarcionadicional_UsuariosInicio {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
    .imgFotoPerfilUsuariosInicio {
      border-radius: 100%;
      width: 110px;
      height: 110px;
    }
    .Numero_UsuarioInicio {
      font-size: 15px;
      width: 100%;
      margin: 3px;
    }
  }
  @media only screen and (max-width: 640px) {
    .Nombre_Trabajador_UsuariosInicio {
      font-size: 20px;
      font-weight: bold;
      margin: 0%;
      width: 100%;
    }
    .ButonUsuariosInicio {
      font-size: 90%;
      width: 100%;
      height: 35px;
    }
    .divButtonSolicitarUsuariosInicio {
      grid-row: 1/2;
      grid-column: 4/5;
      padding: 3px;
    }
    .textarea_Descripcion_UsuariosInicio {
      height: 50px;
      width: 99%;
      padding: 3px;
    }
    .div_Informarcionadicional_UsuariosInicio {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
    .imgFotoPerfilUsuariosInicio {
      border-radius: 100%;
      width: 110px;
      height: 110px;
    }
    .Numero_UsuarioInicio {
      font-size: 15px;
      width: 100%;
      margin: 3px;
    }
    @media only screen and (max-width: 550px) {
      .Nombre_Trabajador_UsuariosInicio {
        font-size: 17px;
        font-weight: bold;
        margin: 0%;
        width: 100%;
      }
      .ButonUsuariosInicio {
        font-size: 90%;
        width: 100%;
        height: 29px;
      }
      .divButtonSolicitarUsuariosInicio {
        grid-row: 1/2;
        grid-column: 4/5;
        padding: 3px;
      }
      .textarea_Descripcion_UsuariosInicio {
        height: 45px;
        width: 99%;
        padding: 3px;
      }
      .div_Informarcionadicional_UsuariosInicio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
      }
      .imgFotoPerfilUsuariosInicio {
        width: 90px;
        height: 90px;
      }
      .Numero_UsuarioInicio {
        font-size: 11px;
        width: 100%;
      }
      @media only screen and (max-width: 500px) {
        .Nombre_Trabajador_UsuariosInicio {
          font-size: 17px;
          font-weight: bold;
          margin: 0%;
          width: 100%;
        }
        .ButonUsuariosInicio {
          font-size: 70%;
          width: 100%;
          height: 25px;
        }
        .divButtonSolicitarUsuariosInicio {
          grid-row: 1/2;
          grid-column: 4/5;
          padding: 3px;
        }
        .textarea_Descripcion_UsuariosInicio {
          font-size: 13px;
          height: 40px;
          width: 99%;
          padding: 3px;
        }
        .div_Informarcionadicional_UsuariosInicio {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
        }
        .imgFotoPerfilUsuariosInicio {
          width: 70px;
          height: 70px;
        }
        .Numero_UsuarioInicio {
          font-size: 10px;
          width: 100%;
        }
        @media only screen and (max-width: 450px) {
          .Nombre_Trabajador_UsuariosInicio {
            font-size: 13px;
            font-weight: bold;
            margin: 0%;
            width: 100%;
          }
          .ButonUsuariosInicio {
            font-size: 70%;
            width: 100%;
            height: 25px;
          }
          .divButtonSolicitarUsuariosInicio {
            grid-row: 1/2;
            grid-column: 4/5;
            padding: 3px;
          }
          .textarea_Descripcion_UsuariosInicio {
            font-size: 12px;
            height: 40px;
            width: 99%;
            padding: 3px;
          }
          .div_Informarcionadicional_UsuariosInicio {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
          }
          .imgFotoPerfilUsuariosInicio {
            width: 60px;
            height: 60px;
          }
          .Numero_UsuarioInicio {
            font-size: 9px;
            width: 100%;
          }
          @media only screen and (max-width: 450px) {
            .Nombre_Trabajador_UsuariosInicio {
              font-size: 12px;
              font-weight: bold;
              margin: 0%;
              width: 100%;
            }
            .ButonUsuariosInicio {
              font-size: 70%;
              width: 100%;
              height: 25px;
            }
            .divButtonSolicitarUsuariosInicio {
              grid-row: 1/2;
              grid-column: 4/5;
              padding: 3px;
            }
            .textarea_Descripcion_UsuariosInicio {
              font-size: 11px;
              height: 37px;
              width: 99%;
              padding: 3px;
            }
            .div_Informarcionadicional_UsuariosInicio {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: 1fr;
            }
            .imgFotoPerfilUsuariosInicio {
              width: 50px;
              height: 50px;
            }
            .Numero_UsuarioInicio {
              font-size: 8px;
              width: 100%;
            }
            .InicioUsuariosFlecha {
              width: 60px;
              height: 60px;
            }
            .imgInicioUsuariosBarppi {
              width: 80px;
              height: 80px;
            }
            .imgBuscarInicioUsuariosBarppi {
              width: 60px;
              height: 60px;
            }
            @media only screen and (max-width: 400px) {
              .Nombre_Trabajador_UsuariosInicio {
                font-size: 12px;
                font-weight: bold;
                margin: 0%;
                width: 100%;
              }
              .ButonUsuariosInicio {
                font-size: 7px;
                width: 100%;
                height: 19px;
              }
              .divButtonSolicitarUsuariosInicio {
                grid-row: 1/2;
                grid-column: 4/5;
                padding: 3px;
              }
              .textarea_Descripcion_UsuariosInicio {
                font-size: 9px;
                height: 34px;
                width: 99%;
                padding: 2px;
              }
              .div_Informarcionadicional_UsuariosInicio {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
              }
              .imgFotoPerfilUsuariosInicio {
                width: 48px;
                height: 48px;
              }
              .Numero_UsuarioInicio {
                font-size: 8px;
                width: 100%;
              }
              .InicioUsuariosFlecha {
                width: 60px;
                height: 60px;
              }
              .imgInicioUsuariosBarppi {
                width: 80px;
                height: 80px;
              }
              .imgBuscarInicioUsuariosBarppi {
                width: 60px;
                height: 60px;
              }
              @media only screen and (max-width: 340px) {
                .Nombre_Trabajador_UsuariosInicio {
                  font-size: 10px;
                  font-weight: bold;
                  margin: 0%;
                  width: 100%;
                }
                .ButonUsuariosInicio {
                  font-size: 6px;
                  width: 100%;
                  height: 17px;
                }
                .divButtonSolicitarUsuariosInicio {
                  grid-row: 1/2;
                  grid-column: 4/5;
                  padding: 2px;
                }
                .textarea_Descripcion_UsuariosInicio {
                  font-size: 6px;
                  height: 34px;
                  width: 99%;
                  padding: 2px;
                }
                .div_Informarcionadicional_UsuariosInicio {
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  grid-template-rows: 1fr;
                }
                .imgFotoPerfilUsuariosInicio {
                  width: 48px;
                  height: 48px;
                }
                .Numero_UsuarioInicio {
                  font-size: 6px;
                  width: 100%;
                }
                .InicioUsuariosFlecha {
                  width: 50px;
                  height: 50px;
                }
                .imgInicioUsuariosBarppi {
                  width: 60px;
                  height: 60px;
                }
                .imgBuscarInicioUsuariosBarppi {
                  width: 45px;
                  height: 45px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* QUE LA BARRA SE QUEDE QUIETA */
.menu-fixed-usuariosInicio {
  position: fixed;
  border-radius: 10px;
  z-index: 1000;
  background-color: rgb(241, 241, 241);
  width: 100%;
  box-shadow: 4px 6px 10px rgb(0, 0, 0, 0.3);
}
.cards-fixed-usuariosInicio {
  padding-top: 9%;
}
@media only screen and (max-width: 1215px) {
  .cards-fixed-usuariosInicio {
    padding-top: 12%;
  }
  @media only screen and (max-width: 930px) {
    .cards-fixed-usuariosInicio {
      padding-top: 15%;
    }
    @media only screen and (max-width: 760px) {
      .cards-fixed-usuariosInicio {
        padding-top: 18%;
      }
      @media only screen and (max-width: 620px) {
        .cards-fixed-usuariosInicio {
          padding-top: 21%;
        }
        @media only screen and (max-width: 530px) {
          .cards-fixed-usuariosInicio {
            padding-top: 24%;
          }
          @media only screen and (max-width: 450px) {
            .cards-fixed-usuariosInicio {
              padding-top: 25%;
            }
            @media only screen and (max-width: 355px) {
              .cards-fixed-usuariosInicio {
                padding-top: 27%;
              }
            }
          }
        }
      }
    }
  }
}

/* Scroll Personalizado */
.div_Padre_UsuariosInicio::-webkit-scrollbar {
  width: 12px;
  background-color: none;
  border-radius: 7px;
  padding-left: 10px;
}
.div_Padre_UsuariosInicio::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 7px;
  width: 6px;
  height: 10px;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: none;
  border-radius: 7px;
  padding-left: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 7px;
  width: 6px;
  height: 10px;
}
.textarea_Descripcion_UsuariosInicio::-webkit-scrollbar {
  width: 0px;
  background-color: none;
  border-radius: 0px;
  padding-left: 0px;
}
.textarea_Descripcion_UsuariosInicio::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 0px;
  width: 0px;
  height: 0px;
}
.textarea_Descripcion_UsuariosInicio:hover::-webkit-scrollbar {
  width: 9px;
  background-color: none;
  border-radius: 7px;
  padding-left: 10px;
}
.textarea_Descripcion_UsuariosInicio:hover::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 7px;
  width: 6px;
  height: 10px;
}
