/* CSS BOTONES */
.div-botones-centro-MiAgendaTrabajador {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-div-grid-botones-MiAgendaTrabajador {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
}
.boton-MiAgendaTrabajador {
  border: black solid 1px;
  width: 90%;
  height: 50px;
  transition: all 100ms;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 6px 5px 3px rgba(128, 98, 96, 0.16);
}
.boton-MiAgendaTrabajador:hover {
  background-color: white;
  color: black;
  transition: all 100ms;
  text-decoration: none;
  border: black solid 3px;
}

/* QUE LA BARRA SE QUEDE QUIETA */
.menu-fixed-miAgendaTrabajador {
  position: fixed;
  border-radius: 10px;
  z-index: 1000;
  background-color: rgb(241, 241, 241);
  width: 100%;
  box-shadow: 4px 6px 10px rgb(0, 0, 0, 0.3);
}
.informacion-fixed-miAgendaTrabajador {
  padding-top: 9%;
}
@media only screen and (max-width: 1215px) {
  .informacion-fixed-miAgendaTrabajador {
    padding-top: 12%;
  }
  @media only screen and (max-width: 930px) {
    .informacion-fixed-miAgendaTrabajador {
      padding-top: 15%;
    }
    @media only screen and (max-width: 760px) {
      .informacion-fixed-miAgendaTrabajador {
        padding-top: 18%;
      }
      @media only screen and (max-width: 620px) {
        .informacion-fixed-miAgendaTrabajador {
          padding-top: 21%;
        }
        @media only screen and (max-width: 530px) {
          .informacion-fixed-miAgendaTrabajador {
            padding-top: 24%;
          }
          @media only screen and (max-width: 450px) {
            .informacion-fixed-miAgendaTrabajador {
              padding-top: 25%;
            }
            @media only screen and (max-width: 355px) {
              .informacion-fixed-miAgendaTrabajador {
                padding-top: 27%;
              }
            }
          }
        }
      }
    }
  }
}
