.img-perfil_trabajador-CardTrabajosRealizados {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.div-div-img-perfil_trabajador-PerfilTrabajadorUsuario {
  display: flex;
  justify-content: center;
}
.div-nombreTrabajador-PerfilTrabajadorUsuario {
  grid-column: 2/3;
  grid-row: 2/3;
}
.div-nombreCompletoDelTrabajador {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-img-perfil_trabajador-PerfilTrabajadorUsuario {
  grid-column: 2/3;
  grid-row: 1/2;
}
.div-top-PerfilTrabajadorUsuario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
}
.div-nombreCiudadTrabajador-PerfilTrabajadorUsuario {
  grid-column: 2/3;
  grid-row: 3/4;
}
.div-div-nombreCiudadTrabajador-PerfilTrabajadorUsuario {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-tipoTrabajador-PerfilTrabajadorUsuario {
  grid-column: 2/3;
  grid-row: 4/5;
}
.div-div-tipoTrabajador-PerfilTrabajadorUsuario {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-contoTrabajoTrabajador-PerfilTrabajadorUsuario {
  grid-column: 2/3;
  grid-row: 5/6;
}
.div-div-contoTrabajoTrabajador-PerfilTrabajadorUsuario {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-bot-PerfilTrabajadorUsuario {
  padding-bottom: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-left: 5%;
}
.div-div-TextoDescripcion-PerfilTrabajadorUsuario {
  padding-top: 10px;
  padding-bottom: 20px;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TituloDescripcion-PerfilTrabajadorUsuario {
  padding-bottom: 5px;
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TitulodireccionTrabajador-PerfilTrabajadorUsuario {
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TextodireccionTrabajador-PerfilTrabajadorUsuario {
  padding-top: 2px;
  padding-bottom: 10px;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TituloCorreoElectronicoTrabajador-PerfilTrabajadorUsuario {
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TextoCorreoElectronicoTrabajador-PerfilTrabajadorUsuario {
  padding-top: 2px;
  padding-bottom: 10px;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TitulonumeroTelefonicoTrabajador-PerfilTrabajadorUsuario {
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TextonumeroTelefonicoTrabajador-PerfilTrabajadorUsuario {
  padding-top: 2px;
  padding-bottom: 10px;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-boton-bot-SOLICITAR-PerfilTrabajadorUsuario {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
  padding-right: 0%;
  padding-top: 0%;
  padding-left: 0%;
}
.div-nombreCompletoDelTrabajador {
  font-size: 60px;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.div-div-nombreCiudadTrabajador-PerfilTrabajadorUsuario {
  font-size: 25px;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.div-div-tipoTrabajador-PerfilTrabajadorUsuario {
  font-size: 35px;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.div-div-contoTrabajoTrabajador-PerfilTrabajadorUsuario {
  font-size: 40px;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.boton-Solicitar-PerfilTrabajadorUsuario {
  border: black solid 1px;
  width: 90%;
  height: 50px;
  transition: all 100ms;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 6px 5px 3px rgba(128, 98, 96, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-Solicitar-PerfilTrabajadorUsuario:hover {
  background-color: white;
  color: black;
  transition: all 100ms;
  text-decoration: none;
  border: black solid 3px;
}

/* NUEVAS COSAS CON RESPONSIVE */

.img-perfil_trabajador-CardTrabajosRealizados {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.div-div-img-perfil_trabajador-CardTrabajosRealizados {
  display: flex;
  justify-content: center;
}
.div-nombreTrabajador-CardTrabajosRealizados {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-nombreCompletoDelTrabajador-CardTrabajosRealizados {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-img-perfil_trabajador-CardTrabajosRealizados {
  grid-column: 2/3;
  grid-row: 1/2;
}
.div-top-CardTrabajosRealizados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
}
.div-nombreCiudadTrabajador-CardTrabajosRealizados {
  grid-column: 2/3;
  grid-row: 3/4;
}
.div-div-nombreCiudadTrabajador-CardTrabajosRealizados {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
.div-tipoTrabajador-CardTrabajosRealizados {
  grid-column: 2/3;
  grid-row: 4/5;
}
.div-div-tipoTrabajador-CardTrabajosRealizados {
  display: flex;
  font-weight: bold;
  justify-content: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-contoTrabajoTrabajador-CardTrabajosRealizados {
  grid-column: 2/3;
  grid-row: 5/6;
}
.div-div-contoTrabajoTrabajador-CardTrabajosRealizados {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-bot-CardTrabajosRealizados {
  padding-bottom: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-left: 5%;
}
.div-div-TextoDescripcion-CardTrabajosRealizados {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TituloDescripcion-CardTrabajosRealizados {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 5px;
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TitulodireccionTrabajador-CardTrabajosRealizados {
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TextodireccionTrabajador-CardTrabajosRealizados {
  padding-top: 2px;
  padding-bottom: 10px;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TituloCorreoElectronicoTrabajador-CardTrabajosRealizados {
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TextoCorreoElectronicoTrabajador-CardTrabajosRealizados {
  padding-top: 2px;
  padding-bottom: 10px;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TitulonumeroTelefonicoTrabajador-CardTrabajosRealizados {
  font-weight: bold;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-TextonumeroTelefonicoTrabajador-CardTrabajosRealizados {
  padding-top: 2px;
  padding-bottom: 10px;
  color: black;
  font-family: "Comfortaa", cursive;
}
.div-div-boton-bot-SOLICITAR-CardTrabajosRealizados {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
  padding-right: 0%;
  padding-top: 0%;
  padding-left: 0%;
}
.div-nombreCompletoDelTrabajador-CardTrabajosRealizados {
  font-size: 350%;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.div-div-nombreCiudadTrabajador-CardTrabajosRealizados {
  font-size: 25px;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.div-div-tipoTrabajador-CardTrabajosRealizados {
  font-size: 35px;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.div-div-contoTrabajoTrabajador-CardTrabajosRealizados {
  font-size: 40px;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.boton-Solicitar-CardTrabajosRealizados {
  border: black solid 2px;
  width: 90%;
  height: 50px;
  transition: all 100ms;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 15px;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 6px 5px 3px rgba(128, 98, 96, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.boton-Solicitar-CardTrabajosRealizados:hover {
  background-color: black;
  border: white solid 3px;
  color: white;
  transition: all 100ms;
  text-decoration: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 990px) {
  .div-nombreCompletoDelTrabajador-CardTrabajosRealizados {
    font-size: 300%;
  }
  @media only screen and (max-width: 850px) {
    .div-nombreCompletoDelTrabajador-CardTrabajosRealizados {
      font-size: 250%;
    }
    @media only screen and (max-width: 710px) {
      .div-nombreCompletoDelTrabajador-CardTrabajosRealizados {
        font-size: 35px;
      }
      .img-perfil_trabajador-CardTrabajosRealizados {
        width: 180px;
        height: 180px;
      }
      .div-bot-CardTrabajosRealizados {
        padding-bottom: 2%;
        padding-right: 2%;
        padding-top: 3%;
        padding-left: 2%;
      }
      .div-div-contoTrabajoTrabajador-CardTrabajosRealizados {
        font-size: 30px;
      }
      .div-div-tipoTrabajador-CardTrabajosRealizados {
        font-size: 25px;
      }
      .div-div-nombreCiudadTrabajador-CardTrabajosRealizados {
        font-size: 20px;
      }
      .div-div-TituloDescripcion-CardTrabajosRealizados {
        font-size: 35px;
      }
      @media only screen and (max-width: 625px) {
        .div-nombreCompletoDelTrabajador-CardTrabajosRealizados {
          font-size: 30px;
        }
        .img-perfil_trabajador-CardTrabajosRealizados {
          width: 170px;
          height: 170px;
        }
        .div-bot-CardTrabajosRealizados {
          padding-bottom: 2%;
          padding-right: 2%;
          padding-top: 3%;
          padding-left: 2%;
        }
        .div-div-contoTrabajoTrabajador-CardTrabajosRealizados {
          font-size: 20px;
        }
        .div-div-tipoTrabajador-CardTrabajosRealizados {
          font-size: 20px;
        }
        .div-div-nombreCiudadTrabajador-CardTrabajosRealizados {
          font-size: 20px;
        }
        .div-div-TituloDescripcion-CardTrabajosRealizados {
          font-size: 25px;
        }
        @media only screen and (max-width: 530px) {
          .div-nombreCompletoDelTrabajador-CardTrabajosRealizados {
            font-size: 25px;
          }
          .img-perfil_trabajador-CardTrabajosRealizados {
            width: 160px;
            height: 160px;
          }
          .div-bot-CardTrabajosRealizados {
            padding-bottom: 2%;
            padding-right: 2%;
            padding-top: 3%;
            padding-left: 2%;
          }
          .div-div-contoTrabajoTrabajador-CardTrabajosRealizados {
            font-size: 20px;
          }
          .div-div-tipoTrabajador-CardTrabajosRealizados {
            font-size: 20px;
          }
          .div-div-nombreCiudadTrabajador-CardTrabajosRealizados {
            font-size: 15px;
          }
          .div-div-TituloDescripcion-CardTrabajosRealizados {
            font-size: 25px;
          }
          .div-div-TextoDescripcion-CardTrabajosRealizados {
            padding-top: 10px;
            padding-bottom: 20px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* QUE LA BARRA SE QUEDE QUIETA */
.menu-fixed-cards-trabajosRealizados {
  position: fixed;
  border-radius: 10px;
  z-index: 1000;
  background-color: rgb(241, 241, 241);
  width: 100%;
  box-shadow: 4px 6px 10px rgb(0, 0, 0, 0.3);
}
.cards-fixed-trabajosRealizados {
  padding-top: 9%;
}
@media only screen and (max-width: 1215px) {
  .cards-fixed-trabajosRealizados {
    padding-top: 12%;
  }
  @media only screen and (max-width: 930px) {
    .cards-fixed-trabajosRealizados {
      padding-top: 15%;
    }
    @media only screen and (max-width: 760px) {
      .cards-fixed-trabajosRealizados {
        padding-top: 18%;
      }
      @media only screen and (max-width: 620px) {
        .cards-fixed-trabajosRealizados {
          padding-top: 21%;
        }
        @media only screen and (max-width: 530px) {
          .cards-fixed-trabajosRealizados {
            padding-top: 24%;
          }
          @media only screen and (max-width: 450px) {
            .cards-fixed-trabajosRealizados {
              padding-top: 25%;
            }
            @media only screen and (max-width: 355px) {
              .cards-fixed-trabajosRealizados {
                padding-top: 27%;
              }
            }
          }
        }
      }
    }
  }
}
